li {
	display: inline-block;
	/*font-family: 'Roboto';*/
	font-weight: 400;
	font-size: 15px;	
	
}

li .active {
	color: rgba(38, 50, 56, 1);
}

li a {
	color: rgba(38, 50, 56, .5);
	text-decoration: none;
}

li a:hover {
	transition: .3s;
	color: rgba(38, 50, 56, 1);
}
