.dropdown {
    position: relative;
}
.dropdown-hover {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
}
.dropdown.reverse > .dropdown-hover {
    left: auto;
    right: 0;
}
.dropdown:hover > .dropdown-hover {
    display: block;
}

/* DEMO PURPOSES ONLY */
* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto'/* sans-serif*/;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
li + li {
    margin-top: .5rem;
}
code {
    display: inline-block;
    background: #ddd;
    padding: 2px 4px; 
    border-radius: 2px;
    font-weight: 700;
    font-size: 1.1em;
}

.dropdown {
    background: #fff;
    display: inline-block;
    padding: 10px 20px;
    /*border: 1px solid #999;*/
    /*font-size: 1.25rem;*/
}
.dropdown > .dropdown-hover {
    background: /*#f8f8f8*/#fff;
    border: 1px solid #999;
    border-top: 0;
}
    
/**
 *  Из-за использования границы у .dropdown
 *  нужно уменьшить горизонтальную позицию
 *  выпадающего элемента на толщину этой границы.
 */
.dropdown-hover {
    left: -1px;
}
.dropdown.reverse > .dropdown-hover {
    right: -1px;
}
