/*НЕглавная страница*/

#menu a:hover:after {
	opacity: 1;
	transition: .3s;
}

#menu a:after {
	content: '';
	display: block;
	left: 0;
	width: 100%;
	height: 3px;
	border-bottom: 1px solid #fff;
	opacity: 0;
}



.icon-header i:hover,
.author-dropdown i:hover {
	color: #0d0c0c;
}

/*foto stile start*/
.avatar-34 {
	height: 34px;
	width: 34px;
	border-radius: 50%;
}

.avatar-48 {
	height: 48px;
	width: 48px;
	border-radius: 50%;
	background: #d4d4d4;
}

.avatar-73-57 {
	height: 57px;
	width: 73px;
	background: #d4d4d4;
}
/*foto stile end*/
/*header start*/
.container-logo {
	background: #fff;
}

.container-logo /*.container*/ {
	/*height: 91px;*/
	position: relative;
}


#logo {
	margin-top: 27px;
	margin-bottom: 26px;
}

.container-logo div {
	align-self: center;
}

.container-logo .logo-text {
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
	color: #546e7a;
	margin-right: 10px;
}

.container-logo .logo-text .need {
	color: #e74c3c;
}
.container-logo .logo-text a:hover {
	color: #e74c3c;
	transition: .3s
}

.icon-header {
	display: block;
	position: relative;
	background: #f5f5f5;
	text-align: center;
}

.icon-header i {
	color: #a0a0a0;
	font-size: 14px;
	padding: 10px;
}

.quantity {
	position: absolute;
	right: -5px;
	top: -10px;
	height: 18px;
	width: 18px;
	border-radius: 50%;
	color: #fff;
	font-size: 11px;
	padding-top: 3px;
}

.orange {
	background: #ef6c00;
}

.yellow {
	background: #fcb322; 
}

.green {
	background: #95c85a;
}

.author-dropdown {
	margin-left: 14px;
}

.author-dropdown  span {
	font-weight: 500;
	font-size: 14px;
	color: #222;
	line-height: 24px;
}

.author-dropdown i {
	font-size: 16px;
	color: #707070;
	margin-left: 13px;
}

.author-dropdown div {
	font-weight: 700;
	font-size: 14px;
	color: #8bc34a;
	line-height: 24px;
}
 
.dropdown-mike li {
    font-weight: 400;
    font-size: 12px;
    line-height: 36px;
    color: #546e7a;
}

.dropdown-mike i {
	color: #8bc34a;
	margin-right: 9px;
}

.dropdown-mike li:hover {
	color: #8bc34a;
	transition: .3s;
}

.padd {
    padding: 1rem 1.5rem;
    border-top: 1px solid #999;	
}

.padd-16px {
	 padding: 1rem 1rem;
}

.container-dropdown {
	width: 268px;
}

.content-dropdown {
	flex-direction: column;
	margin-left: 15px;
	
}
.content-dropdown span {
	margin-bottom: 4px;
	margin-top: 4px;
}

.content-dropdown-1-need {
	font-weight: 400;
	font-size: 12px;
	color: #84b743;
}

.content-dropdown-1-2-data {
	font-weight: 400;
	font-size: 10px;
	color: #707070;
}

.content-dropdown-2-name {
	font-weight: 700;
	font-size: 12px;
	color: #263238;
}

.content-dropdown-2-need {
	font-weight: 400;
	font-size: 11px;
	color: #84b743;
}

.content-dropdown-3-name {
	font-weight: 500;
	font-size: 15px;
	color: #263238;
}

.content-dropdown-3-word-press {
	font-weight: 400;
	font-size: 12px;
	color: #84b743;
} 

.content-dropdown-3-price {
	font-weight: 500;
	font-size: 16px;
	color: #000;
}

.total {
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 17px;
	font-weight: 700;
	font-size: 16px;
	color: #263238;
}

.envelope-bell {
	color: #b0bec5;
	margin-top: 10px;
}

.container-dropdown a:hover .envelope-bell {
	color: #ef6c00;
}

#header .btn-logout {
	margin-left: 21px;
}

#header .btn-go-to-cart {
	margin-right: 6px;	
}

.container-menu {
	background: #263238;
}

.container-menu li + li {
    margin-left: 40px;
    margin-top: 0;
}

#menu {
	padding-top: 23px;
	padding-bottom: 23px;
}

#menu li a {
	font-size: 14px;
    font-weight: 500;
    color: #fff;
}

@media (max-width: 1199px) {
	#menu ul {
	justify-content: space-around;
	}
}

@media (max-width: 991px) {
	.container-logo .logo-text {
		display: none;
	}	
}

@media (max-width: 767px) {
	.dropdowns {
		order: 1;
		width: 100%;
		justify-content: space-around;
		
	}

	.container-dropdown {
	width: auto;
}

.padd {
    padding: .5rem .3rem;
    }
}

/*header end*/

/*section search start*/
.search {
	background: url(../../img/bg-1.jpg) 50% 100% no-repeat;
    background-size: cover;
	padding-top: 61px;
	padding-bottom: 69px;
}

.search h2 {
	font-weight: 500;
	font-size: 20px;
	color: #fff;
	margin-bottom: 24px;
}

.search form {
	position: relative;
}

.search input {
	width: 670px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    color: #90a4ae;
    letter-spacing: .05em;
	line-height: 56px;
	padding: 0 0 0 25px;
	border: none;
}

.search input:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, .5);
}

.search button {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	height: 56px;
	font-size: 14px;
	border-width: 0;
	color: #90a4ae;
	background: inherit;
}

.search button:hover,
.search button:active {
	color: #000;
}
/*search end*/
