/*главная страница*/

#menu a:hover {
	text-decoration: underline;
	transition: .3s;
} 

.icon-header i:hover {
	color: #0d0c0c;
}

/*foto stile start*/
.avatar-34 {
	height: 34px;
	width: 34px;
	border-radius: 50%;
}

.avatar-73-57 {
	height: 57px;
	width: 73px;
	background: #d4d4d4;
}
/*foto stile end*/


.btn-login {
	margin-left: 16px;
	margin-right: 7px;
}

#header .btn-logout {
	margin-left: 21px;
}

#header .btn-go-to-cart {
	margin-right: 6px;	
}

/*header start*/
.container-logo {
	background: #fff;
}

#logo {
	margin-top: 27px;
	margin-bottom: 26px;
}

.container-logo div {
	align-self: center;
}

.container-logo .logo-text {
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
	color: #546e7a;
	margin-right: 10px;
}

.container-logo .logo-text .need {
	color: #e74c3c;
}

.container-logo .logo-text a:hover {
	color: #e74c3c;
	transition: .3s
}

.icon-header {
	display: block;
	position: relative;
	background: #f5f5f5;
	text-align: center;
}

.icon-header i {
	color: #a0a0a0;
	font-size: 14px;
	padding: 10px;
}

.quantity {
	position: absolute;
	right: -5px;
	top: -10px;
	height: 18px;
	width: 18px;
	border-radius: 50%;
	color: #fff;
	font-size: 11px;
	padding-top: 3px;
}

.red {
	background: red;
}

.content-dropdown {
	flex-direction: column;
	margin-left: 15px;
}
.content-dropdown span {
	margin-bottom: 4px;
	margin-top: 4px;
}

.container-dropdown {
	width: 268px;
}

.padd {
    padding: 1rem 1.5rem;
    border-top: 1px solid #999;	
}

.padd-16px {
	 padding: 1rem 1rem;
}

.content-dropdown-3-name {
	font-weight: 500;
	font-size: 15px;
	color: #263238;
}

.content-dropdown-3-word-press {
	font-weight: 400;
	font-size: 12px;
	color: #84b743;
} 

.content-dropdown-3-price {
	font-weight: 500;
	font-size: 16px;
	color: #000;
}

.total {
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 17px;
	font-weight: 700;
	font-size: 16px;
	color: #263238;
}

.container-menu {
	background: #263238;
}

.container-menu li + li {
    margin-left: 40px;
    margin-top: 0;
}

#menu {
	padding-top: 23px;
	padding-bottom: 23px;
}

#menu li a {
	font-size: 14px;
    font-weight: 500;
    color: #fff;
}

#menu a {
	padding: 0;
	margin: 0;
}
/*header end*/

/*section search start*/
.search {
	background: url(../../img/bg-1.jpg) 50% 100% no-repeat;
    background-size: cover;
	padding-top: 156px;
	padding-bottom: 175px;
}

.search h1 {
	font-weight: 700;
	font-size: 48px;
	color: #fff;
	margin-bottom: 54px;
	margin-top: 23px;
}

.search h2 {
	font-weight: 500;
	font-size: 20px;
	color: #fff;
	margin-bottom: 24px;
}

form {
	position: relative;
}

input {
	width: 670px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    color: #90a4ae;
    letter-spacing: .05em;
	line-height: 56px;
	padding: 0 0 0 25px;
	border: none;
}

input:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, .5);
}

button {
	position: absolute;
	top: 0;
	right: 0;
	height: 56px;
	font-size: 14px;
	border-width: 0;
	color: #90a4ae;
	background: inherit;
}

.search button:hover,
.search button:active {
	color: #000;
}

/*search end*/
