/*страница 30*/

/*foto stile start*/
.avatar-34 {
	height: 34px;
	width: 34px;
	border-radius: 50%;
}

.avatar-73-57 {
	height: 57px;
	width: 73px;
	background: #d4d4d4;
}
/*foto stile end*/
/*header start*/
.container-logo {
	background: #fff;
}

.container-logo {
	position: relative;
}

#logo {
	margin-top: 27px;
	margin-bottom: 26px;
}

.container-logo div {
	align-self: center;
}

#menu {
	padding-top: 23px;
	padding-bottom: 23px;
}

.menu-page30 {
	margin-right: 120px;
}

.menu-page30 li + li {
	margin-left: 40px;
}

.menu-page30 li a {
	font-size: 16px;
    font-weight: 500;
    color: #263238;
}

.menu-page30 a:after {
	content: '';
	display: block;
	left: 0;
	width: 100%;
	height: 3px;
	border-bottom: 1px solid #263238;
	opacity: 0;
}

.menu-page30 a:hover:after {
	opacity: 1;
	transition: .3s;
}

.icon-header {
	display: block;
	position: relative;
	background: #f5f5f5;
	text-align: center;
}

.icon-header i {
	color: #a0a0a0;
	font-size: 14px;
	padding: 10px;
}

.icon-header i:hover,
.author-dropdown i:hover {
	color: #0d0c0c;
}
.quantity {
	position: absolute;
	right: -5px;
	top: -10px;
	height: 18px;
	width: 18px;
	border-radius: 50%;
	color: #fff;
	font-size: 11px;
	padding-top: 3px;
}

.green {
	background: #95c85a;
}

.padd {
    padding: 1rem 1.5rem;
    border-top: 1px solid #999;	
}

.padd-16px {
	 padding: 1rem 1rem;
}

.container-dropdown {
	width: 268px;
}

.content-dropdown {
	flex-direction: column;
	margin-left: 15px;
	
}
.content-dropdown span {
	margin-bottom: 4px;
	margin-top: 4px;
}

.content-dropdown-3-name {
	font-weight: 500;
	font-size: 15px;
	color: #263238;
}

.content-dropdown-3-word-press {
	font-weight: 400;
	font-size: 12px;
	color: #84b743;
} 

.content-dropdown-3-price {
	font-weight: 500;
	font-size: 16px;
	color: #000;
}

.total {
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 17px;
	font-weight: 700;
	font-size: 16px;
	color: #263238;
}

#header .btn-logout {
	margin-left: 21px;
}

#header .btn-go-to-cart {
	margin-right: 6px;	
}

@media (max-width: 1199px) {
	#menu ul {
	justify-content: space-around;
	}
}

@media (max-width: 991px) {
	.container-logo .logo-text {
		display: none;
	}	
}

@media (max-width: 767px) {
	.dropdowns {
		order: 1;
		width: 100%;
		justify-content: space-around;
		
	}

	.container-dropdown {
	width: auto;
	}

.padd {
    padding: .5rem .3rem;
    }
}

/*header end*/

/*section search start*/
.search-page-30 {
	background: url(../../img/bg-1.jpg) 50% 100% no-repeat;
    background-size: cover;
	padding-top: 170px;
	padding-bottom: 250px;
}

.search-h1-page-30 {
	font-weight: 700;
	font-size: 48px;
	color: #fff;
	text-transform: uppercase;
}
.search-h1-page-30 span {
	color: #8bc34a;
}

.search-h2-page-30 {
	margin-top: 36px;
	margin-bottom: 54px;
	font-weight: 400;
	font-size: 20px;
	color: #b0bec5;
}
.search-page-30 form {
	position: relative;
}

.search-page-30 input {
	width: 760px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    color: #90a4ae;
    letter-spacing: .05em;
	line-height: 56px;
	padding: 0 0 0 25px;
	border: none;
}

.search-page-30 input:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, .5);
}

.search-page-30 button {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	height: 56px;
	font-size: 14px;
	border-width: 0;
	color: #90a4ae;
	background: inherit;
}

.search-page-30 button:hover,
.search-page-30 button:active {
	color: #000;
}
/*search end*/
