*{
  box-sizing: border-box;
}
.container{
  padding: 0;
}
.container .main{
  padding: 0;
  justify-content: space-between;
}
.main .product{
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  width: 31%;
  margin-top: 30px;
}

.product:hover,
.product:focus,
.product:active {
  box-shadow: 0 10px 10px grey;
}

.product .product-img {
  background: grey;
  width: 100%;
  height: 180px;
}
.product .title-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 23px;
  margin: 0;
  border: 1px solid #ebeeef;
  border-bottom: none;
}
.product .title-price h2{
  min-width: 72%;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}
.product .title-price span {
  font-size: 20px;
  font-weight: 700;
}
.product .title-price p{
  margin: 0;
  padding-top: 8px;
  color: #8bc34a;
}
.product .price-product::before{
  content: '$';
}
.product .product-footer {
  padding: 6% 8%;
  align-items: center;
  border: 1px solid #ebeeef;
  justify-content: space-between;
}
.product .product-footer .user-photo{
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
}
.product .product-footer .user-photo img{
  display: block;
  width: 30px;
  height: 30px;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}
.product .product-footer .user-name{
  text-decoration: none;
  color: #546e7a;
  font-size: 14px;
  margin-left: 10px;
  align-items: center;
}
.product .product-footer i{
  font-size: 10px;
  color: #ffa726;
}
.product .product-footer i + i {
  margin-left: 3px;
}
.product .number-mark{
  margin-left: 10px;
  font-size: 12px;
  color: #263238;
  display: flex;
}
.product .number-mark::before {
  content: '(';
  color: #b0bec5;
  display: inline-block;
}
.product .number-mark::after {
  content: ')';
  color: #b0bec5;
}

@media (max-width: 1199px) {
  .product .title-price h2{
  font-size: 12px;
  }
 .product .title-price span {
  font-size: 17px;
  }
 .product .product-footer .user-name{
  font-size: 12px;
  margin-left: 7px;
  }
.product .product-footer i{
  font-size: 8px;
  }  
 .product .number-mark{
  margin-left: 4px;
  font-size: 10px;
 } 
}

@media (max-width: 991px) {
  .product .title-price h2{
  font-size: 10px;
  }
 .product .title-price span {
  font-size: 12px;
  }
 .product .product-footer .user-name{
  font-size: 10px;
  /*margin-left: 5px;*/
  }
.product .product-footer i{
  font-size: 6px;
  }  
 .product .number-mark{
  margin-left: 3px;
  font-size: 8px;
 } 
}