.breadcrumb-item {
	display: inline-block;
	font-weight: 400;
	font-size: 15px;	
	color: rgba(38, 50, 56, .5);
}

.breadcrumb-item + .breadcrumb-item:before {
	content: '-';
	color: #8bc34a;
	padding: 0 8px;
}

.active {
	color: rgba(38, 50, 56, 1);
}

.breadcrumb-item:hover {
	-webkit-transition: .3s;
	transition: .3s;
	color: rgba(38, 50, 56, 1);
}
