.dropdown {
    position: relative;
  }

.dropdown-body {
    cursor: pointer;
}

.dropdown-hover {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
}
.dropdown.reverse > .dropdown-hover {
    left: auto;
    right: 0;
}
.dropdown.active > .dropdown-hover {
    display: block;
    z-index: 10;
}

/* DEMO PURPOSES ONLY */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
li + li {
   /* margin-top: .5rem;*/
}
code {
    display: inline-block;
    background: #ddd;
    padding: 2px 4px; 
    border-radius: 2px;
    font-weight: 700;
    font-size: 1.1em;
}

.dropdown {
    background: #fff;
    display: inline-block;
    padding: 10px 8px;
    /*border: 1px solid #999;*/
    /*font-size: 1.25rem;*/

}
.dropdown > .dropdown-hover {
    background: /*#f8f8f8*/#fff;
    border: 1px solid #999;
    border-top: 0;
}

    
/**
 *  Из-за использования границы у .dropdown
 *  нужно уменьшить горизонтальную позицию
 *  выпадающего элемента на толщину этой границы.
 */
.dropdown-hover {
    left: -1px;
}
.dropdown.reverse > .dropdown-hover {
    right: -1px;
}

.categories {
   font-weight: 500;
   font-size: 16px;
   line-height: 18px;
   color: #263238;
   padding: 20px 32px;
   border: 1px solid #dfdfdf;
   z-index: 20;
}

.categories span {
    margin-right: 21px;
}

.categories i {
    font-size: 18px;
}

.categories .dropdown-hover span:before {
    content: '(';
}

.categories .dropdown-hover span:after {
    content: ')';
}

.categories .dropdown-hover {
    width: 288px;
    padding: 25px 68px 25px 35px;
    font-weight: 400;
    font-size: 15px;
    color: #263238;
}

.categories .dropdown-hover li + li {
    margin-top: 25px;
} 

.categories .dropdown-hover i {
    color: #8bc34a;
    font-size: 14px;
    margin-right: 13px;
}
